@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/* ===== Page Accueil ===== */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: 'Press Start 2P', cursive;
  background: repeating-linear-gradient(to bottom, #0f0a1e, #0f0a1e 2px, #140e29 2px, #140e29 4px);
}
.divTitle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
}
.animText {
  animation: blink 1s steps(4, start) infinite;
}
@-moz-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-o-keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
.formPseudo {
	margin: auto;
	width: 300px;
}
.inputPseudo {
	background-color: black;
	border: none;
	color: white;
 	font-family: 'Press Start 2P', cursive;
	font-size: 30px;
	height: 50px;
	outline: none;
	width: 100%;
}
.btnStart {
 	font-family: 'Press Start 2P', cursive;
}

